.header
  font-size: 14px
  padding: 10px 0
  color: $greyPrimary
  &-wrapper,
  &-wrap-logo,
  &-nav ul
    display: flex
    align-items: center
    justify-content: space-between
  &-logo__link
    margin-right: 33px
  &-nav li
    margin: 0 12px
  &-nav__link
    color: $greyPrimary
    span
      border-radius: 50%
      width: 3px
      height: 3px
      background-color: $greyPrimary
      display: inline-block
  &-btn
    border: 1px solid $greyPrimary
    border-radius: 3px
    padding: 10px 21px
    color: $greyPrimary