.header
  padding-bottom: 200px
  font-size: 14px
  color: $greyPrimary
  &-wrapper
    padding: 10px 0
    margin-bottom: 6px
  &-wrapper,
  &-wrap-logo,
  &-nav ul
    display: flex
    align-items: center
    justify-content: space-between
  &-logo__link
    margin-right: 33px
  &-nav li
    margin: 0 12px
  &-nav__link
    color: $greyPrimary
    span
      border-radius: 50%
      width: 3px
      height: 3px
      background-color: $greyPrimary
      display: inline-block
    &:hover
      color: $mainColor
  &-btn
    border: 1px solid $greyPrimary
    border-radius: 3px
    padding: 10px 21px
    color: $greyPrimary
    &:hover
      box-shadow: 0 0 5px $greyPrimary


  &-content
    margin-bottom: 34px
  &-title
    max-width: 737px
    margin-right: 70px
    margin-bottom: 40px
  &-cont
    &-desc
      font-size: 18px
      span
        color: $mainColor
  &-chart
    width: 713px
    height: 344px
    background-color: lighten($greyPrimary, 30%)

    display: flex
    align-items: center
    justify-content: center



  &-awards
    &-block
      font-size: 10px
      line-height: 10px
      &-text
        max-width: 128px
        text-align: center
        margin: 0 10px


@media (max-width: 1440px)
  .container
    width: 1280px
@media (max-width: 1320px)
  .container
    width: 1170px
  .header
    &-title
      font-size: 36px
      margin-right: 20px
@media (max-width: 1200px)
  .container
    width: 980px
  .header
    padding-bottom: 100px
    &-title
      font-size: 30px
    &-logo__link
      margin-right: 10px
    &-wrap-logo p
      text-align: center
      max-width: 115px

    &-awards
      flex-wrap: wrap
      &-block
        justify-content: center
        width: 33%
        margin-bottom: 20px

  .section-title
    font-size: 27px


@media (max-width: 992px)
  .container
    width: 760px
  .header
    &-wrap-logo p
      text-align: left
      max-width: initial
    &-title
      font-size: 28px
    &-nav
      margin-left: auto
      margin-right: 20px
    &-nav__li
      display: none
      &:last-child
        display: block
    &-chart
      width: 560px
      height: 300px

  .section-title
    font-size: 24px
@media (max-width: 768px)
  .container
    width: 560px
  .header
    &-content
      flex-direction: column
      margin-top: 20px
    &-chart
      width: 100%
      margin-top: 20px
@media (max-width: 576px)
  .container
    width: 97%
  .header
    &-btn
      display: none
    &-awards
      &-block
        width: 48%

  .section-title
    font-size: 23px
    line-height: 28px
@media (max-width: 476px)
  .header
    &-wrap-logo p
      font-size: 13px
    &-title
      font-size: 24px
    &-nav li
      margin-right: 0
    &-cont-desc
      font-size: 15px
    &-awards-block
      width: 100%