.interview
  padding-bottom: 100px
  &-title
    margin-bottom: 30px
  &-wrapper
    flex-wrap: wrap
  &-block
    width: 32%
    height: 200px
    margin-bottom: 2%
    background: lighten($greyPrimary, 30%)